<!DOCTYPE html>
<html>
{% load staticfiles %}
<body>
 <h2>Hello World!</h2>
 <p style="display: none;">Soon we will all be capable of transforming into penguins... Thanks to Penguin God!</p>
 <img src="{% static "pics\giphy1.gif" %}" alt="Penguin gif">
 <img src="{% static "pics\giphy.gif" %}" alt="Penguin gif" style="height: 200px;">
 <img src="{% static "pics\1.gif" %}" alt="Penguin gif">
 <img src="{% static "pics\6.gif" %}" alt="Penguin gif">
 <img src="{% static "pics\3.gif" %}" alt="Penguin gif">
 <img src="{% static "pics\4.gif" %}" alt="Penguin gif">
 <img src="{% static "pics\5.gif" %}" alt="Penguin gif">
</body>

</html>